<html
  xmlns='http://www.w3.org/1999/xhtml'
  xmlns:v='urn:schemas-microsoft-com:vml'
  xmlns:o='urn:schemas-microsoft-com:office:office'
>
  <head>
    <!-- NAME: EDUCATE -->
    <!--[if gte mso 15]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG />
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset='UTF-8' />
    <meta http-equiv='x-ua-compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>XÁC NHẬN ĐẶT LẠI MẬT KHẨU</title>
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;display=swap'
      rel='stylesheet'
    />

    <style type='text/css'>
      *{ font-family:"Inter","Helvetica Neue",sans-serif; } body{ margin:0; } p{ margin: 0;
      font-size:18px; line-height:1.56; }.email-container{ max-width:600px; text-align:center;
      margin:0 auto; } .header{ text-align:center; margin-top:10px; } .header .header_logo{
      display:block; margin:0 auto; } .content,.footer{ text-align:center; } .content{
      margin-top:30px; } .content-heading{ font-size:30px; font-weight:500; font-stretch:normal;
      font-style:normal; margin: 0 0 2px 0; letter-spacing:normal; text-align:center; color:#2d333a;
      } .content__text{ color:#525b65; } .content__text.content-1{padding: 0 20px;}
      .content__text.content-2 { margin-top: 8px } .content__button{ margin:48px auto; }
      .content__button a{ background-color:#00a19c; color:#fff; text-transform:uppercase;
      padding:16px 91px; border-radius:4px; height:48px; text-decoration:none; font-size:14px;
      font-weight:bold; line-height:1.14; letter-spacing:1.12px; } .content__click_link{
      margin-top:8px; } a.link{ color:#00a19c; text-decoration:none; } .footer_black{
      background-color:#000000; color:#fff; padding:44px 0 40px; } .footer_find_us_on{
      margin-bottom:24px; font-size: 14px; } .icons a img{ width:24px; margin-left:16px;
      margin-right:16px; } .footer__get_in_touch{ margin-top:30px; margin-bottom:20px; padding:0
      auto; } .copy-right{ margin-top:48px } .copy-right p{ font-size:16px; } .dot{ color:#788494;
      margin:0 8px; } .footer__get_in_touch{ font-size:14px; } @media screen and (max-width: 768px){
      .header .header_logo{ height:24px; } } @media screen and (max-width: 768px){ .content__button
      a{ padding:16px 113.5px; } } @media screen and (max-width: 768px){ .footer_black{
      padding-left:10px; padding-right:10px; } } @media screen and (max-width: 768px){ .content{
      margin-top:44px; } } @media screen and (max-width: 768px){ .content__button a{ padding:16px
      84px; } } @media screen and (max-width: 768px){ .content-heading{ font-size:18px;
      margin-bottom: 20px;} } @media screen and (max-width: 768px){ p{ font-size:16px; } } @media
      screen and (max-width: 768px){ .px-content{ padding-left:12px; padding-right:12px; } }</style></head>
  <body>
    <div class='email'>
      <div class='email-container'>
        <div class='header'>
          <img class='header_logo' src='https://imgtr.ee/images/2023/03/21/qu6qr.png' alt='' />
        </div>
        <div class='content'>
          <h1 class='content-heading'>
            XÁC NHẬN ĐẶT LẠI MẬT KHẨU
          </h1>
          <p class='content__text content-1 px-content' style='margin-top: 20px;'>
            Chào
            {{name}},
          </p>
          <p class='content__text content-2 px-content'>
            Mã xác nhận đặt lại mật khẩu của bạn là:
            <span style='font-weight: 600; color: #a11300;'>{{otp}}</span>.
          </p>
          <p class='content__text content-2 px-content' style='font-size: 12px;'>
            (*) Lưu ý: Mã OTP chỉ có giá trị trong vòng
            {{otpLiveTime}}
            phút.
          </p>
          <!-- replace this link -->
          {{!-- <p class='content__button'>
            <a href='{{verifyLink}}'>Verify email</a>
          </p> --}}
          {{! <p class='content__text content__click_text px-content'>
            Alternatively, you may use this link:
          </p> }}
          {{!-- <p class='content__click_link px-content'>
            <a href='{{verifyLink}}' class='link'>{{verifyLink}}</a>
          </p> --}}
        </div>
        <div class='footer__get_in_touch'>
          <a class='link' href='{{contactUrl}}'>Keep in touch</a>
          <span class='dot'>•</span>
          <a class='link' href='{{emailUrl}}'>View in browser</a>
        </div>
      </div>
      <div class='footer'>
        <div class='footer_black'>
          <p class='footer_find_us_on'>Tìm kiếm chúng tôi trên</p>
          <div class='icons'>
            <a href='https://www.facebook.com'><img
                src='https://cdn-images.mailchimp.com/icons/social-block-v2/light-facebook-48.png'
                alt='facebook'
              /></a>
            <a href='https://www.instagram.com/'><img
                src='https://cdn-images.mailchimp.com/icons/social-block-v2/light-instagram-48.png'
                alt='instagram'
              /></a>
            <a href='https://www.youtube.com/user/ThePETRONASBrands'><img
                src='https://cdn-images.mailchimp.com/icons/social-block-v2/light-youtube-48.png'
                alt='youtube'
              /></a>
            <a href='https://twitter.com/'><img
                src='https://mcusercontent.com/3a36c85c329985b08aabd4807/images/45724fd3-8c0c-395d-220a-fbcd85941484.png'
                alt='twitter'
              /></a>
            <a href='https://www.tiktok.com/@'><img
                src='https://mcusercontent.com/3a36c85c329985b08aabd4807/images/52806a00-3c8a-dd6e-0cf9-fc902f5ca05c.png'
                alt='tiktok'
              /></a>
          </div>
          <div class='copy-right'>
            <p>Quiz.</p>
            <p>All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>